<body>
    <header>
        <menu>
            <p>Biblioteca de programacion(El nombre sera modificado)</p>
            <p> Inicio </p>
            <p type="text" (click)="funcion_acerca('acerca')"> Acerca del proyecto </p>
            <p type="text" (click)="funcion_motivacion('motivacion')"> Motivacion </p>
            <p type="text" (click)="funcion_prueba('prueba')"> Prueba </p>
            <p type="text" (click)="funcion_error404('error404')"> Error404 </p>
            <p> Estado: En proceso </p>
            <p> Version: 0.2 </p>
        </menu>
    </header>
</body>

