<header>
    <menu>
        <p>BPLI(Biblioteca para la informacion)</p>
        <p type="text" (click)="funcion_motivacion('inicio')"> Inicio </p>
        <span class="pi pi-search"></span> &nbsp; <p type="text" (click)="funcion_acerca('acerca')"> Acerca del proyecto </p>
        <p type="text" (click)="funcion_motivacion('motivacion')"> Motivacion </p>
        <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i> &nbsp; <p type="text" (click)="funcion_prueba('prueba')"> Prueba </p>
        <i class="pi pi-times"></i> &nbsp; <p type="text" (click)="funcion_error404('error404')"> Error404 </p>
        <i class="pi pi-check"></i> &nbsp; <p> Estado: En proceso </p>
        <i class="pi pi-spin pi-cog" style="font-size: 1rem"></i> &nbsp; <p> Version: 1.2 </p>
    </menu>
</header>
<body>
    
</body>
