<!DOCTYPE html>
<html lang="es">
<!-- Creacion del header -->
<app-header></app-header>
<!-- Creacion del body -->
<body>
    <div style="text-align:center">
        <h1>Motivación del proyecto</h1>
    </div>
    <div style="text-align:justify">
        <h3>La motivación requerida para hacer este proyecto es aprender y ampliar los conocimientos 
            que poseo actualmente y mejorarlos para seguir manteniendo mi consistencia al momento de programar.
        </h3>
    </div>
</body>

<router-outlet></router-outlet>

</html>