<!DOCTYPE html>
<html lang="es">
<!-- Creacion del header -->
<app-header></app-header>
<!-- Creacion del body -->
<body>
    <div style="text-align:center">
        <h1>Acerca del proyecto Biblioteca de programación</h1>
    </div>
    <div style="text-align:justify">
        <h3>Sobre el proyecto visto en esta página se podría decir que será un lugar donde se guardarán los diferentes tipos
            de libros de interés de un lector común hasta uno experimentado sin la necesidad de evitar o bloquear los accesos a 
            estos libros. El proyecto será realizado en Angular.js para la parte de front-end, Node.js para la parte de backend y 
            la base de datos será manejado en Mysql.
        </h3>
    </div>
    
</body>


<router-outlet></router-outlet>

</html>